@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "poppins", sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    color: #817d7d;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

}

input {
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: #fff;
    font-family: inherit;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}